/* variables */
:root {
    --black: rgb(23, 23, 23);
    --white: rgb(255, 250, 229);
    --darkest-blue: rgb(25, 46, 64);
    --darker-blue: rgb(39, 79, 114);
    --blue: rgb(77, 115, 139);
    --text-blue: rgb(59, 88, 107);
    --lighter-blue: rgb(146, 178, 190);
    --lightest-blue: rgb(175, 216, 208);
}

/* utilities */
nav ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    transition: all 300ms;
    color: var(--white);
}

nav ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white);
    display: block;
    margin: auto;
    transition: 1.5s;
}

nav ul li:hover::after {
    width: 100%;
    background: var(--white);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* app specific */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    background-color: rgba(218, 229, 227, 0.22);
    scroll-behavior: smooth;
    color: var(--text-blue);
}

.container {
    width: 100%;
    position: relative;
}

.page-header {
    background-color: var(--lighter-blue);
    color: var(--white);
    text-shadow: var(--darker-blue) 3px 3px 10px;
    display: flex;
    width: 100%;
    box-shadow: rgba(77, 115, 139, 0.3) 3px 3px 10px;
}

.page-footer {
    background-color:var(--lighter-blue);
    color: var(--white);
    text-shadow: var(--darker-blue) 3px 3px 10px;
    text-align: center;
    padding: 1rem;
}
.page-title {
    margin: 0;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    padding: 1rem 2rem;
}

nav{
    margin: 0 1rem 0 60rem;
    display: flex;
}

nav ul {
    display: flex;
}

nav li {
    margin: 1.6rem 1rem 1rem 1rem;
}

nav li a {
    text-decoration: none;
}

main {
    padding: 1rem 1.4rem;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

article {
    height: 90vh;
}

.about {
    padding-left: 2rem;
}

.pic {
    border: 1px solid var(--lighter-blue);
    border-radius: 6px;
    width: 40%;
    float: left;
    margin: 2rem 2.4rem 2rem 2rem;
}

.quotation {
    font-size: 1.2rem;
    margin: 3.5rem 3rem 1rem 0;
    line-height: 2rem;
}

.text {
    font-size: 1.1rem;
    margin: 2rem 3rem 1rem 4.4rem;
    text-align: justify;
    line-height: 1.6rem;
}

@media screen and (min-width: 769px) {
    .box {
        font-size: 0.92rem;
    }
    #map {
        width: 40%;
        height: initial;
    }

    .boxes {
        font-size: initial;
        width: 60%;
        padding-left: 1rem;
        box-sizing: border-box;
    }

}
