/* variables */
:root {
    --black: rgb(23, 23, 23);
    --white: rgb(255, 250, 229);
    --darkest-blue: rgb(25, 46, 64);
    --darker-blue: rgb(39, 79, 114);
    --blue: rgb(77, 115, 139);
    --text-blue: rgb(59, 88, 107);
    --lighter-blue: rgb(146, 178, 190);
    --lightest-blue: rgb(175, 216, 208);
}

/* utilities */
nav ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    transition: all 300ms;
    color: var(--white);
}

nav ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white);
    display: block;
    margin: auto;
    transition: 1.5s;
}

nav ul li:hover::after{
    width: 100%;
    background: var(--white);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

/* app specific */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    background-color: rgba(218, 229, 227, 0.22);
    scroll-behavior: smooth;
    color: var(--text-blue);
}

.container {
    width: 100%;
    position: relative;
}

.page-header {
    background-color: var(--lighter-blue);
    color: var(--white);
    text-shadow: var(--darker-blue) 3px 3px 10px;
    display: flex;
    width: 100%;
    box-shadow: rgba(77, 115, 139, 0.3) 3px 3px 10px;
}

.page-footer {
    background-color:var(--lighter-blue);
    color: var(--white);
    text-shadow: var(--darker-blue) 3px 3px 10px;
    text-align: center;
    padding: 1rem;
}

.page-title {
    margin: 0;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    padding: 1rem 2rem;
}

nav{
    margin: 0 1rem 0 60rem;
    display: flex;
}

nav ul {
    display: flex;
}

nav li {
    margin: 1.6rem 1rem 1rem 1rem;
}

nav li a {
    text-decoration: none;
}

main {
    padding: 1rem 1.4rem;
}

#map {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.boxes {
    width: 60%;
}

.box {
    padding: 0.4rem;
    font-size: x-small;
}

#map, .box {
    border-radius: 6px;
    box-shadow: rgba(146, 178, 190, 0.49) 3px 3px 10px;
    margin-bottom: 0.6rem;
}

.box h2, .box figure {
    margin: 0;
    padding: 0;
}

.box table {
    width: 100%;
    text-align: center;
    border: var(--lighter-blue) solid 1px;
    border-radius: 4px;
    line-height: 2rem;
}

.text-box {
    text-align: center;
}

p {
    margin:0.3rem 0.6rem;
}

.box li {
    width: calc(50% - 0.6rem);
    text-align: center;
    border: var(--lighter-blue) solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.3rem;
    margin: 0.3rem;
    overflow-wrap: break-word;
}

.box img {
    height: 2rem;
}
.riddle {
    line-height: 1.4rem;
}

.goal {
    background-image: url('../Images/splatter.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 9rem 7rem;
    text-align: center;
    position: absolute;
    bottom: 30%;
    filter: drop-shadow(0 0 30px #333);
    transform: rotate(340deg);
    line-height: 1rem;
    z-index: 999;
}

.goal h2, .goal p{
    margin: 0.5rem;
}

#player-modal {
    width: 100vw;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 9999;
    color: var(--white);

}

#player-form {
    display: flex;
    width: 40%;
    margin: 15rem auto;
    flex-direction: column;
}

#player-form input {
    padding: 1rem;
    font-size: 1.4rem;
}

.done {
    background-color: #F2E4DC;
    opacity: 0.15;
}

.lead-img {
    width: 100%;
    margin: 0 0 1rem 0;
}

@media screen and (min-width: 769px) {
    .box {
        font-size: 0.92rem;
    }
    #map {
        width: 40%;
        height: initial;
    }

    .boxes {
        font-size: initial;
        width: 60%;
        padding-left: 1rem;
        box-sizing: border-box;
    }

}

/* Leaflet icons */
.blue-icon {
    background-color: #575757;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.green-icon {
    background-color: var(--darkest-blue);
    border-radius: 50%;
    border: 5px solid rgba(39, 79, 114, 0.5);
}
